:root removed and variables inlined

* {
	background-color: #121417;
	color: #aeb6bf;
}

Main.TFrame {
	background-color: #1b1f23;
}

Menu.TFrame {
	background-color: #14181c;
}

.TEntry,
.TCombobox {
	background-color: #121417;
	border-color: #2a2f33;
	color: #FFFFFF;
}

.Table.Treeview {
	background-color: #121417;
	color: #FFFFFF;
}

.Table.Treeview.Heading {
	background-color: #2C73D2;
}

Primary.TButton {
	background-color: #2C73D2;
	color: #FFFFFF;
}

Success.TButton {
	background-color: #2E7D32;
	color: #FFFFFF;
}